[Desktop Entry]
Type=Application
Name=ArtiSync
Comment=Organize and tag your music library
Exec=ArtiSync
Icon=com.artisync.ArtiSync
Categories=AudioVideo;Audio;Music;
Terminal=false
StartupWMClass=ArtiSync
